{% extends "base.html.twig" %}

{% block title %}Modifier mon mot de passe | TrebligShop
{% endblock %}

{% block content %}
	<h1>Modifier mon mot de passe</h1><br>
	<p class="float-right">
		<a href="{{ path('app_account') }}" class="text-link">Retourner à mon compte</a>
	</p>
	<br>
	<hr>
	{% if notification %}
		<div class="alert alert-info">{{ notification }}</div>
	{% endif %}
	{{ form(form)}}
		<hr>
	{% endblock %}
