@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.navbar-item-custom a,
.navbar-item-custom {
    color: white;
}

.footer-custom {
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #DFEAFF;
    padding-top: 25px;
}

.product-item {
    border-radius: 8px;
    margin: 30px auto;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}

.product-item img {
    border-radius: 5px 5px 0 0;
}

.product-name {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-top: 8px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
    color: #cb2252;
}

.product-container {
    margin-bottom: 130px;
}

.product-page-price {
    font-size: 19px;
}

.block-small {
    max-width: 600px;
}